.input-text {
  padding: 8px;
  border: none;
  border: 3px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  transition: 0.3s;
}

.input-text:focus {
  border: 3px solid rgb(146, 2, 247);
  outline: none;
}
