@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.c-input {
  padding: 8px;
  border: none;
  border: 3px solid transparent;
  border-radius: 8px;
  font-family: "Roboto Mono", sans-serif;
  font-size: 18px;
  transition: 0.3s;
}

.c-input:focus {
  outline: none;
}

.c-input.c-input--border-default:focus {
  border-color: rgb(146, 2, 247);
}

.c-input.c-input--border-error {
  border-color: rgb(255, 18, 35);
}
