@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.c-input-text {
  padding: 8px;
  border: none;
  border: 3px solid transparent;
  border-radius: 8px;
  font-family: "Roboto Mono", sans-serif;
  font-size: 18px;
  transition: 0.3s;
}

.c-input-text:focus {
  border: 3px solid rgb(146, 2, 247);
  outline: none;
}
