@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.l-header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 50px 20px;
  background: rgb(146, 2, 247);
}

.l-header__title {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 62px;
  font-weight: 700;
}
